<div class='card'>

  <h3 class="card-title">{{this.name}}</h3>
  <img class="card-img-top  rounded mx-auto d-block" src="{{this.imgPath}}" alt="{{this.imgName}}">


  <h3>{{this.drinks.name}}</h3>
  <img class="card-img-top" src="{{this.drinks.imgPath}}" alt="{{this.drinks.imgName}}" width="200">
  <div class="card-body">
    <p>{{this.drinks.description}}</p>

    <div class="ec-stars-wrapper">
      <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
      <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
      <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
      <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
      <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
    </div>
    <h4 id="location">Ubicación</h4>
  </div>